html, body {
	background-image: url("../imgs/ricepaper.png");
}


.aang {
	margin-bottom: -100px;
}

#result {
	text-align: center;
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 34px;
	letter-spacing: 3px;
	color:#865c5c;
}

.elements {
	background-image: url("../imgs/brush.png");
	background-repeat: no-repeat;
	background-position: top center;
}


.element {
	width: 300px;
}

.lora {
	font-family: 'Lora', serif;
	font-size: 20px;
	color: #5e554f;
}

.score {
	font-size: 35px;
	font-weight: 700;
	font-style: italic;
	color: #90837b;
}

.about {
	margin-left: -1%;
}

.fill {
	flex-grow:1;
}

.center {
	display: block;
	margin: auto;
	text-align: center;
}

#strength {
	color: #c46500;
}

#userStrength {
	color: #5eac5a;
}

#win {
	color:#1784d0;
}

#lose {
	color:#be3939;
}

.smaller {
	font-weight: normal;
	font-size: 25px;
}


@media only screen and (max-width: 991px){
	.elements {
		background-size: 75%;
	}

	#result {
		font-size: 30px;
	}
}

@media only screen and (max-width: 425px){
	#result {
		margin-top: 20%;
		font-size: 25px;
	}

	.score {
		font-size: 28px;
	}
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}